@model ElectricState.Models.Category

@{
    ViewData["Title"] = "Add Categories";
}

<form asp-action="Create" method="post">

    <label asp-for="CategoryName" ></label>
    <input asp-for="CategoryName" type="text" />
    <span asp-validation-for="CategoryName" class="text-danger" ></span>

    <button type="submit" class="btn btn-primary" >Submit</button>

</form>

<a asp-action="Index">Show Categories

</a>