@model IEnumerable<ElectricState.ViewModels.Supplier.SupplierViewModel>;

@foreach(var supp in Model)
{
    <h1>@supp.SupplierName</h1>
    <h1>@supp.SupplierAddress</h1>
    <h1>@supp.SupplierAddress</h1>
    <h1>@supp.SupplierPhone</h1>


}